package parte04extra;
import java.util.Scanner;

public class CD {
    String titulo, banda;
    int capacidade, numeroFaixa, codigoIdentificacao;
    double duracaoTotal, preco;
    //ENTRADA CD
    public void entradaCD(){
        Scanner sc = new Scanner(System.in);
        System.out.println("Informar o Titilo: ");
        setTitulo(titulo);
        System.out.println("Informar a Banda: " );
        setBanda(banda);
        System.out.println("Informar o Numero da Faixa: ");
        setNumeroFaixa(numeroFaixa);
        System.out.println("Informar a Capacidade: " );
        setCapacidade(capacidade);
        System.out.println("Informar o Código de Identificação: ");
        setCodigoIdentificacao(codigoIdentificacao);
        System.out.println("Informar aDuração totoal do álbum: ");
        setDuracaoTotal(duracaoTotal);
        System.out.println("Informar o Preço: ");
        setPreco(preco);
    }
    //IMPRIMIR CD
    public void imprimirCD(){
        System.out.println("----------------------------------------------------");
        System.out.println("Titulo: " + getTitulo());
        System.out.println("Banda: " + getBanda());
        System.out.println("Numero da Faixa: " + getNumeroFaixa());
        System.out.println("Capacidade: " + getCapacidade());
        System.out.println("Código de Identificação: " + getCodigoIdentificacao());
        System.out.println("Duração totoal do álbum: " + getDuracaoTotal());
        System.out.println("Preço: " + getPreco());
    }
    //SET
    public void setTitulo (String t){
        titulo = t;
    }
    public void setBanda (String b){
        banda = b;
    }
    public void setCapacidade (int c){
        capacidade = c;
    }
    public void setNumeroFaixa (int n){
        numeroFaixa = n;
    }
    public void setCodigoIdentificacao (int c){
        codigoIdentificacao = c;
    }
    public void setDuracaoTotal (double d){
        duracaoTotal = d;
    }
    public void setPreco (double p){
        preco = p;
    }
    //GET
    public String getTitulo(){
        return titulo;
    }
    public String getBanda(){
        return banda;
    }
    public int getCapacidade(){
        return capacidade;
    }
    public int getNumeroFaixa(){
        return numeroFaixa;
    }
    public int getCodigoIdentificacao(){
        return codigoIdentificacao;
    }
    public double getDuracaoTotal(){
        return duracaoTotal;
    }
    public double getPreco(){
        return preco;
    }
}
